
body{
    background-color: rgb(0, 0, 0);
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
} 

h2{
    color: white;
}

p{
    color: #ffffff;
}

a{
    color: white;

}

nav{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     width: 400px;
}

img{
    width: 400px;
}


footer{
    text-align: center;
    font-size: 18px;
}