body{
    background-color:bisque;

}

h1{
    color: rgb(91, 87, 87);
}

nav{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 400px;
}